@model IEnumerable<WebSite_CuaHangDienThoai.Models.tb_ProductCategory>
    <style>
        .custom-list-item {
            border: none; /* Loại bỏ viền của thẻ li */
        }
        .center-content {
            text-align: center; /* Căn nội dung trong thẻ <a> theo giữa */
        }

        .image-wrapper {
            display: inline-block; /* Hiển thị wrapper như một khối inline */
        }

        .center-image {
            display: block;
            margin: 0 auto;
        }

        .custom-list-item p {
            margin: 0; /* Loại bỏ lề của đoạn văn bản */
        }
    </style>
<div class="border rounded  bg-white">
    <h4 class="pt-3 ml-4" style="padding-left:30px">DANH MỤC NỔI BẬT</h4>
    @if (Model != null)
    {
        <div class="row ">
            <div class="col-md-12">
                <ul class="list-group list-group-horizontal pr-2 pl-2">
                    @foreach(var item in Model) 
                    {
                        <li class="list-group-item custom-list-item">
                            <a href="/ProductCategory/Detail/@item.ProductCategoryId" class="center-content">
                                <div class="image-wrapper">
                                    <img src="@item.Icon" class="center-image w-50" />
                                </div>
                                @*<img src="@item.Icon" class="w-50 text-center" style="display: block; margin: 0 auto; " />*@
                                <p style="display: block; margin: 0 auto; ">@item.Title</p>
                            </a>
                           
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    else
    {
        <p class="text-center">Không có bảng ghi nào !!!!</p>
    }

</div>
