
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
        <!--<li class="nav-item">
            <a href="/admin/Category" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Danh mục-->
        @*<i class="right fas fa-angle-left"></i>*@
        <!--</p>
            </a>

        </li>-->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-users"></i>
                <p>
                    Quản lý nhân viên
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/admin/Staff/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Danh sách nhân viên</p>
                    </a>
                </li>
                @*<li class="nav-item">
                        <a href="/admin/order/OrderNew" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tài khoản nhân viên</p>
                        </a>
                    </li>*@

            </ul>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-map"></i>
                <p>
                    Chức vụ
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/admin/Role" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Danh sách chức vụ </p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-users"></i>
                <p>
                    Quản lý kho hàng
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/admin/wareHouse/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Kho Nhập</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/order/OrderNew" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Kho Xuất </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/order/OrderNew" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Sản phẩm trả</p>
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-users"></i>
                <p>
                    Thống kê
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/admin/Statistical/Statistical" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Thống kê theo ngày</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/Statistical/Partial_StatisticalByMon" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Thống kê theo tháng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/Statistical/StatisticalByYear" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Thống kê theo năm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/Statistical/StatisticalTopProductsOnDay" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Sản phẩm bán chạy trong ngày</p>
                    </a>
                </li>

            </ul>
        </li>


        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-boxes"></i>
                <p>
                    Quản lý đơn hàng
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/admin/order" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Tất cả đơn hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/order/ordertoday" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Đơn xuất ngày hôm nay</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/order/OrderNew" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Đơn hàng mới</p>
                    </a>
                </li>

            </ul>
        </li>
        <!--<li class="nav-item">
        <a href="/admin/posts" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
                Quảng cáo-->
        @*<span class="right badge badge-danger">New</span>*@
        <!--</p>
            </a>
        </li>-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Quản lý sản phẩm
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/admin/productcategory" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Danh mục sẳn phẩm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/productcompany" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Hãng sản phẩm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Products" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dòng sản phẩm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/ProductDetail/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Sản phẩm</p>
                    </a>
                </li>



            </ul>
        </li>
        <!--<li class="nav-item">
        <a href="/posts" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
                Cấu hình hệ thống-->
        @*<span class="right badge badge-danger">New</span>*@
        <!--</p>
            </a>
        </li>-->
        <li class="nav-item">
            <a href="/Admin/AccountClient" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Tài khoản khách hàng
                    @*<span class="right badge badge-danger">New</span>*@
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/account/Logout" class="nav-link"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
        </li>
    </ul>
</nav>

