@model IEnumerable<WebSite_CuaHangDienThoai.Models.tb_ProductDetail>
    <div class="card-body">
        <div class="row">
            @if (Model.Any() && Model != null)
            {
               
            }
            else
            {
                <p class="text-danger">Không tồn tại bảng ghi nào !</p>
            }
        </div>
       
    </div>